@using DoAnPC.Models
@model List<CartItem>

@{
    ViewBag.Title = "GetCartInfo";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<link href="~/Content/mystyle.css" rel=" stylesheet" />

<div style="margin: 10px auto; width: 80%;">
    <h2 style="text-align:center; font-weight: 600;">THÔNG TIN GIỎ HÀNG</h2>
    <hr />
    <table class="table table-bordered" style="text-align: center;">
        <thead>
            <tr>
                <th>MÃ SẢN PHẨM</th>
                <th>TÊN</th>
                <th>ẢNH</th>
                <th>SỐ LƯỢNG</th>
                <th>ĐƠN GIÁ</th>
                <th>THÀNH TIỀN</th>
                <th>CẬP NHẬT</th>
                <th>XÓA</th>
            </tr>
        </thead>
        

        <tbody>
            @foreach (var product in Model)
            {

                <tr>
                    <td>@product.ProductID</td>
                    <td>@product.NamePro</td>
                    <td><img src="~/Images/@product.ImagePro" width="200" height="150 " /></td>
                    @using (Html.BeginForm("UpdateCartItem", "Cart", new { id = product.ProductID }))
                    {
                        <td>
                            <input type="number" min="1" value="@product.Number" name="Number" />
                        </td>
                        <td>@String.Format("{0:0,0}", product.Price)đ</td>
                        <td>@String.Format("{0:0,0}", product.FinalPrice())đ</td>
                        @*<td>
                    @Html.ActionLink("Details", "Details", "CustomerProducts",new { id = product.ProductID }, new { @class = "btn btn-success" })
            </td>*@
                        <td>

                            <button type="submit" class="btn btn-primary">Update</button>

                        </td>
                    }
                    <td>
                        @Html.ActionLink("Delete", "DeleteCartItem", "Cart", new { id = product.ProductID }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
            <tr style="font-weight:bold; text-align:center; ">
                <td colspan="5" style="color: red;">Tổng số lượng: @ViewBag.TotalNumber </td>
                <td colspan="3" style="color: red;">Tổng tiền:@String.Format("{0:0,0}", @ViewBag.TotalPrice)đ</td>
            </tr>
            <tr style="font-weight:bold; text-align:center;">
                <td colspan="9">
                    @Html.ActionLink("XÁC NHẬN", "ConfirmCart", null, new { @class = "btn btn-primary" })
                    @Html.ActionLink("QUAY LẠI", "ProductList", "Products", null, new { @class = "btn btn-warning" })
                </td>
            </tr>
        </tbody>
    </table>
</div>